
.bg_blue {    
    background: var(--cerulean);
    display: inline-block;
    padding: 0 8px;
    color: var(--white);
    border-radius: 8px;
    text-align: center;
    line-height: 1.7;
    /* border: 1px solid var(--cerulean); */
}