
.add_keyword_btn {
    min-width: 176px;
    min-height: 54px;
    background: var(--white);
    padding: 8px 16px;
    margin-bottom: 8px;
    display: inline-block;
    outline: none;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    text-align: left;
}
.add_keyword_btn span {
    font-size: 20px;
    display: block; 
    float: right;
    line-height: 0.9;
    margin-left: 24px;
}