.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
  margin-bottom: 0rem;
}

 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B2B2B2;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  border-radius: 20px;
  left:2px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
.text_font{
  font-weight: bold;
  font-size: 9px;
  line-height: 14px;
  text-align: right;
  color: #808080;
  margin-right: 0.7rem;
}

input + .slider + .text:after {
  opacity: 1;
}
input + .slider + .text:before {
  opacity: 0;
}


input:checked + .slider + .text:after {
  opacity: 0;
}

input:checked + .slider + .text:before {
  opacity: 1;
}