.root {
    overflow-y: auto;
}
.containerWrap {
    width: 100%;
}
.bg_blue_box {
    height: 100%;
    min-height: 84px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}
.polygon{
    position: absolute;
    right: -7.5%;
    top: 48%;
}
.pdf_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
    .polygon{
        position: absolute;
        right: -7.5%;
        top: 48%;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1170px) {
    .polygon{
        position: absolute;
        right: -7.0%;
        top: 48%;
    }
}
@media screen and (min-width: 1170px) and (max-width: 1300px) {
    .polygon{
        position: absolute;
        right: -6.5%;
        top: 48%;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1400px)  {
    .polygon{
        position: absolute;
        right: -5.5%;
        top: 48%;
    }
}
@media screen and (min-width: 1400px) {
    .polygon{
        position: absolute;
        right: -5.0%;
        top: 48%;
    }
}
@media screen and (min-width: 1500px) {
    .polygon{
        position: absolute;
        right: -4.5%;
        top: 48%;
    }
}
.c_pointer{
    cursor: pointer;
    margin-left: 16px;
    white-space: noWrap;
    width: 40px;
}
.w_100{
    padding-left: 5px;
    width: 50px !important;
    height: 50px !important;
    max-width: 50px !important;
    margin-bottom: 10px;
}
.overlay{
    background: #ffffff94;
    position: absolute;
    width: 98%;
    height: 100%;
    z-index: 999;
    margin-left: 7px;
}
.btn_blue_color{
    background: var(--blue-card);
    color: white;
}
.select_card{
    border: 2px solid var(--blue-card);
    box-shadow: 0px 3px 4px rgb(0 0 0 / 14%), 0px 3px 3px rgb(0 0 0 / 12%), 0px 1px 8px rgb(0 0 0 / 20%);
}
.cursor_pointer{
    cursor: pointer !important;
}
.white_bg{
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
    padding: 38px 39px 23px;
    margin-bottom: 20px;
}
.white_bg2 {
    padding-top: 18px !important;
}
.editButton {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.editButton button {
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #00A5D9;
    color: #FFFFFF;
}
.text_ty{
    /* position: absolute; */
    display: block;
    /* right: 0%; */
    width: auto;
    /* width: 198px; */
    /* height: 22px; */
    font-family: Meiryo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #00A5D9;
    cursor:pointer;
    max-width: 198px;
    margin-bottom: 2rem;
}
a:hover {color:#1888E0;}
.text_div{
    position: relative;
    text-align: right;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    float: right;
}

.tableContainerWrap {
    margin-top: 10px;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
}

.tableContainerHeaderWrap {
    overflow-x: auto;
}

.tableContainerStyle {
    background: #FAFAFA;
    width: 100%;
}

.tableContainerStyleBody {
    height: 200px;
    overflow: auto;
}

.tableContainerStyle2 {
    width: 100%;
    background: #FAFAFA;
    border-bottom: #EDEDED;
}

.tableTh {
    color: #1C3664;
    height: 52px;
    padding: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    /*border-right: 1px solid #EDEDED;*/
    border-bottom: 1px solid #EDEDED;
    text-align: center;
}

.tableTr {
    width: 100%;
    border-bottom: 1px solid #EDEDED;

    &:last-child {
        border-bottom: none;
    }
}

.headerTableWrap {
    overflow-y: scroll;
}

.headerTableWrap::-webkit-scrollbar {
    background: none;
    border-bottom: 1px solid #EDEDED;
}

.bodyTableWrap {
    max-height: calc(100vh - 26px - 31px - 8px - 32px - 32px - 48px - 10px - 52px - 16px - 125px);
    overflow: auto;
}

.bodyTable {
    width: 100%;
}

.tableTd {
    font-size: 12px;
    height: 52px;
    text-align: center;
}

.tableWidth7 {
    width: 7%;
    padding-left: 5px;
}

.tableWidth10 {
    width: 10%;
}

.tableWidth13 {
    width: 13%;
}

.tableWidth15 {
    width: 15%;
}

.tableWidth20 {
    width: 20%;
}

.tableTdDelete {
    background-color: #eb666e;
}

.tableTdLeft {
    text-align: left;
}

.reflect_btn {
    width: 90px;
    min-height: 36px;
    background: var(--blue-card);
    display: inline-block;
    padding: 8px 16px;
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--cerulean);
    font-weight: bold;
}

.add_btn {
    /* width: 120px; */
    min-height: 36px;
    background: var(--alice-blue);
    display: inline-block;
    padding: 8px 16px;
    color: var(--blue-card);
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--cerulean);
    font-weight: bold;
}

.accordionSummary {
    text-align: center;
    height: 48px;
    background: linear-gradient(270deg, #DEF8FF 31.14%, #C6F4FF 145.73%);
    borderRadius: 4px 4px 0px 0px;
}

.heading {
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #00A5D9;
}

.verticalLine {
    border-left: 1px solid #dcdcdc;
    height: 40px;
    margin: 0 30px;
}

.accordionDetails {
    background: #FAFAFA;
    border: 2px solid #EDEDED;
    border-top: unset;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    padding: 32px 24px;
    display: block !important;
}

.accordionDetailsWrapFlex {
    display: flex;
    justify-content: space-between;
}

.accordionDetailsWrapFlexCheck {
    margin-top: 5px;
    display: flex;
}

.accordionDetailsWrapFlexASC {
    display: flex;
    margin-left: 10px;
}

.accordionDetailsOrders {
    margin-top: 20px;
}
.dateErrorMessage {
    color: red;
    font-size: 12px;
}

.dateWrap {
    width: 100%;
}

.dateToWrap {
    width: 100%;
    margin-left: 10px;
}

.dateLabel {
    font-weight: bold;
    margin: 0;
}

.dateWrapContent {
    display: flex;
}

.checkBox {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

.input {
    border: 1px solid rgb(202, 202, 202);
    height: 35px;
    margin-top: 10px;
    padding-left: 12px;
    border-radius: 4px;
    color: currentColor;
    width: 100%;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
}

.dateFieldSel {
    border: 1px solid #00A5D9;
    margin-left: -2px;
    margin-left: unset;
    height: 40px;
    width: 100%;
    font-family: NotoSansJP-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}

.dateField {
    border: 1px solid #B3B3B3;
    border-left: unset;
    margin-left: -2px;
    height: 40px;
    width: 100%;
    margin-top: unset;
    font-family: NotoSansJP-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #333333
}

.tablePag {

}

.footer {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ededed;
    background: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
}

.footerTop {
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.footerItem {
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;

    & p {
        margin: 0 0 0 0;
        line-height: 36px;
        vertical-align: center;
        width: 101.5px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.3rem;
        width: 200px;
        text-align: right;
        padding: 0 14px;
        overflow-x: auto;
    }
}

.inputStyle {
    width: 200px;
    text-align: right;
}

.footerItemWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    width: 100%;
}

.footerItemBottomWrap {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 100%;
}

.footerItemWrap2 {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    width: 100%;
}

.chip {
    font-size: 12px;
    font-weight: bold;
    width: 160px;
    text-align: center;
    padding: 8px 15px;
    background-color: #CAD8DF;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    display: inline-block;
}
.chip_comment {
    font-size: 10px;
}

.evaluation_btn {
    background: #FAFAFA;
    width: 150px;
    border: 1px solid #55a3d4;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #55a3d4;
    display: flex;
    align-items: center;
    padding: 0.5px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;

    &:disabled {
        opacity: 0.6;
    }

    & img {
        margin-right: 10px;
    }
}

.dateFieldSel {
    border: 1px solid #00A5D9;
    margin-left: -2px;
    border-left: unset;
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    color: #333333;

}

.dateField {
    border: 1px solid #B3B3B3;
    margin-left: -2px;
    border-left: unset;
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}

.linkStyle {
    padding-left: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & label {
        margin-bottom: 0
    }
}

.footerItemButtons {
    display: flex;
    & :nth-child(1),
    & :nth-child(2),
    & :nth-child(3),
    & :nth-child(4) {
        margin-right: 10px;
    }

    span,
    img {
        margin-right: 4px !important;
    }
}

.pencil_img {
    width: 19px;
    height: 17px;
}

.close_img {
    width: 18px;
    height: 16px;
}

@media screen and (max-width: 1440px) {
    .footerItem {
        & p {
            width: 160px;
        }
    }
    .inputStyle {
        width: 160px;
    }
    .evaluation_btn {
        width: 155px;
    }
    .chip {
        width: 140px;
        padding: 8px 0;
    }
}