@media (max-width:700px) and (min-width:360px) {
    .chat_img_sec {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
    }

    .vitual_chat_avatar {
        /* height: 100px;
        width: 100px; */
        /* position: relative;
        overflow: hidden; */
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .timer {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
    }

    .timer>span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7px;
        height: 100%;
        align-self: center;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #808080;
    }

    .buttons {
        margin: 3px 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .buttons button {
        height: 54px;
        min-width: 165px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        /* font-family: 'Yu Gothic'; */
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
    }

    .buttons .disableBtn {
        background: #D9D9D9 !important;
        border: 1px solid #CACACA !important;
        color: #9F9F9F !important;
        font-weight: 700 !important;
    }

    .buttons button:last-child {
        margin-left: 12px;
    }

    .main_chat_people {
        height: 155px;
        width: 155px;
        background: var(--blue-light);
        max-width: inherit !important;
        border-radius: 10px;
        position: relative;
        top: 40px;
        left: 0px;
    }

    .chat_people_box {
        /* background: #B4B4B4; */
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .main_chat_play_button {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .main_chat_start_button {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .inline_header {
        display: inline-block;
    }

    .time_text_box {
        width: auto;
        height: 40px;
        line-height: 40px;
        padding-left: 30px;
        margin-left: 20px;
        text-align: center;
        background: url('../../../../property/images/role-play-timer.svg') no-repeat left center;
        color: #808080;
        white-space: nowrap;
    }

    .video_chat_input_area {
        /* position: relative; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 227px;
        margin-bottom: 12px;
        /* height: 100px;
    padding: 5px 50px; */
    }

    .video_chat_input_button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: calc(100% - 68.21px);
        height: 100%;
        position: relative;
        margin-left: 10px;
        display: block;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.8);
        border-radius: 10px;
    }

    .video_chat_input_button>span {
        position: absolute;
        top: 1px;
        right: 5px;
        height: 85px;
        width: 85px;
    }

    .video_chat_terminate_btn_sp {
        height: 45px;
        width: 45px;
        border-radius: 45px;
        color: #333;
        margin-left: 10px;
        padding: 0;
    }

    .video_chat_restart_btn_sp {
        height: 45px;
        width: 45px;
        border-radius: 45px;
        color: #333;
        font-size: 14px;
        margin-left: 10px;
        padding: 0;
    }

    .video_chat_terminate_btn_sp {
        background: url('../../../../property/images/video-chat-page-sp-suspend.png') no-repeat;
        background-position: -2px -2px;
        background-size: 126%;
        height: 45px !important;
        width: 45px !important;
        border-radius: 45px;
        margin-left: 10px;
        padding: 0;
    }

    .video_chat_restart_btn_sp {
        background: url('../../../../property/images/video-chat-page-sp-restart.png') no-repeat;
        background-position: -2px -2px;
        background-size: 126%;
        height: 45px !important;
        width: 45px !important;
        border-radius: 45px;
        margin-left: 10px;
        padding: 0;
    }

    .role_play_mic_sp,
    .role_play_mic_active_sp {
        background: url('../../../../property/icons/role-play-micphone-icon.png') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 64px !important;
        width: 64px !important;
        border-radius: 45px;
    }

    .video_chat_page_reflection_sp {
        background: url('./../../../../property/images/video-chat-page-sp-reflection.png');
        background-position: 3px 3px;
        background-size: 100%;
        height: 64px !important;
        width: 60px !important;
        margin-left: -4px;
        border-radius: 45px;
        padding: 0;
    }

    .video_chat_page_delete_sp {
        background: url('./../../../../property/images/video-chat-page-sp-delete.png');
        background-position: -2px -2px;
        background-size: 126%;
        height: 45px !important;
        width: 45px !important;
        border-radius: 45px;
        margin-left: 0px;
        padding: 0;
    }

    .role_play_mic_active_flicker_sp {
        animation-name: mic_blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    .video_chat_input_sp {
        width: 100%;
        height: 100%;
        background: var(--white);
        border-radius: 10px;
        padding: 12px;
        /* margin-bottom: 42px; */
        resize: none;
        /* font-family: 'Yu Gothic'; */
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #000 !important;
        border: none;
        opacity: 1 !important;
    }

    /* .video_chat_input_sp_highlight {
        color: #333333 !important;
        opacity: 1 !important;
    } */

    .video_chat_input_sp::placeholder {
        /* color: #808080; */
        color: #909294;
        font-size: 16px;
    }

    .video_chat_input_sp:focus {
        border: 1px solid #00A5D9;
        box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.8);
    }

    .start_text {
        background: var(--blue-card);
        padding: 8px 32px;
        color: var(--white);
        text-align: left;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        margin: 0;
        font-weight: bold;
        z-index: 99;
    }

    .video_chat_input_area_recording {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .video_chat_input_area_recording>img {
        cursor: pointer;
    }

    .pointer_cursor {
        cursor: pointer;
    }

    .video_chat_btn_tips {
        width: 100%;
        white-space: nowrap;
        text-align: center;
        color: #333333;
        text-transform: uppercase;
        text-align: left;
        padding-top: 2px;
        padding-left: 9px;
    }

    .video_chat_btn_tips>div>p {
        margin-bottom: 0px !important;
        font-weight: 500;
        font-size: 21px;
        line-height: 34px;
        white-space: pre-wrap;
    }

    /* @media (max-width: 1100px) {
    .video-chat-btn-tips>div>p {
        font-size: 16px !important;
    }
    .video_chat_list_first_title {
        font-size: 12px;
        margin-bottom: 0 !important;
    }
} */

    /* @media (max-width: 2000px) {
    .video-chat-btn-tips>div>p {
        font-size: 21px;
    }
    .video_chat_list_first_title {
        font-size: 14px;
    }
} */

    .video-chat-btn-click-back {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        height: 50px;
        width: 100px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .video_chat_list_first_title {
        /* font-family: 'Yu Gothic'; */
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        padding: 9px 9px 0 14px;
        margin-bottom: 7px;
    }

    .video_chat_name_context {
        display: flex;
        justify-content: center;
    }

    .video_chat_name_context>div {
        display: flex;
        flex-direction: column;
        /* margin-left: 20px; */
    }

    .video_chat_name_context>div>label {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: #333333;
        text-align: center;
        margin-bottom: 0;
    }

    /* .video_chat_name_context > div > label:last-child {
        font-size: 20px;
        font-weight: 700;
        color: #333;
    } */

    /* @media (max-width: 1100px){
    .video_chat_name_context > div > label:first-child {
        font-size: 12px;
        font-weight: 700;
        color: #333;
    }
    .video_chat_name_context > div > label:last-child {
        font-size: 14px;
        font-weight: 700;
        color: #333;
    }
} */

    /* .video_chat_keyword_list_main {
    padding-left: 30px;
}

.video_chat_keyword_list {
    position: absolute;
    width: calc(100% + 20px);
    left: -20px;
} */
    .video_chat_list_title_sp {
        display: flex;
    }

    .video-chat-top-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px !important;
    }

    .video_chat_footer_buttons_sp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 73px;
        background-color: #ffffff;
        z-index: 1000;
        padding: 0 8px;
    }

    .video_chat_footer_buttons_sp_left {
        width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .video_chat_footer_buttons_sp_left_button_disable {
        background: #D9D9D9 !important;
        border: 1px solid #C5C5C5 !important;
        font-weight: 700 !important;
        color: #9F9F9F !important;
    }

    .video_chat_footer_buttons_sp_left>button {
        width: 89px;
        height: 46px;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        border-radius: 25px;
        padding: 0;
    }

    .video_chat_footer_buttons_sp_left>button:first-child {
        font-weight: 700;
        background: #00A5D9;
        color: #fff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .video_chat_footer_buttons_sp_left>button:last-child {
        font-weight: 700;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        background: #fff;
        color: #333333;
    }

    .video_chat_footer_buttons_sp_right {
        width: 113px;
    }

    .video_chat_footer_buttons_sp_right button {
        width: 100%;
        height: 46px;
        /* font-family: 'Yu Gothic'; */
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        border-radius: 30px;
    }

    .video_chat_footer_buttons_sp_right .disable {
        background: #D9D9D9;
        border: 1px solid #C5C5C5;
    }

    .video_chat_footer_buttons_sp_right .single_button {
        background: #E78321;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .video_chat_footer_buttons_sp_right .multiple_button {
        background: #00A5D9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /* .video_chat_footer_buttons_sp>button {
        flex-grow: 0;
        filter: drop-shadow(4px 4px 7px #808080);
    }

    .video_chat_footer_buttons_sp>span {
        flex-grow: 0;
        filter: drop-shadow(4px 4px 7px #808080);
    } */

    .start_role_play_btn_box {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 16px 0;
        /*position: 'relative', top: -1*/
    }

    .start_role_play_btn_box_display_none {
        display: none;
    }

    .start-role-play-btn {
        background-color: #00A5D9;
        width: 190px;
        height: 47px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        cursor: pointer;
    }

    .start-role-play-btn img {
        width: 14px;
        height: 23px;
        margin-bottom: 10px;
    }

    .start-role-play-btn span {
        /* font-family: 'Yu Gothic'; */
        font-weight: 700;
        font-size: 20px;
        line-height: 47px;
        color: #FFFFFF;
        margin-left: 13px;
    }

    .close_role_play_btn_sp {
        background: linear-gradient(329.96deg, #C16500 3.39%, #FD9A36 70.53%, #FFE143 136.26%);
        height: 46px;
        width: 116.64px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 28px;
        filter: drop-shadow(4px 4px 7px #808080);
    }

    .close_role_play_btn_sp>span {
        display: block;
        background: linear-gradient(168.13deg, #E97000 -33.04%, #FD9A36 118.86%);
        border-radius: 20px;
        /* font-family: 'Meiryo'; */
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        height: 35px !important;
        line-height: 39px !important;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .close-role-play-btn:hover {
        opacity: 0.8;
    }

    .video_chat_next_section_btn_sp {
        background: linear-gradient(329.96deg, #0081AA 3.39%, #00A5D9 70.53%, #3ACAF8 136.26%) !important;
        height: 46px;
        width: 116.64px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 28px;
        filter: drop-shadow(4px 4px 7px #808080);
    }

    .video_chat_next_section_btn_sp>span {
        display: block;
        background: linear-gradient(168.13deg, #048AB5 -33.04%, #00A5D9 118.86%) !important;
        border-radius: 20px;
        /* font-family: 'Meiryo' !important; */
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 16px !important;
        height: 36px !important;
        line-height: 39px !important;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .chat_text_box_recording_pad {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        right: 12px;
        top: 8px;
    }

    .chat_text_box_recording {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        right: 10px;
        top: 52px;
    }

    .chat_text_box_recording_sp {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        right: 10px;
        top: 136px;
    }

    .chat_text_box_recording>button:last-child {
        margin-top: 10px;
    }

    /* dangerous and desprated */

    .MuiIconButton-label>input {
        cursor: initial !important;
    }

    .role_play_top_tips {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 15px 15px 0;
    }

    .MuiIconButton-label {
        cursor: default !important;
    }

    /* @media (max-width: 991px){ */

    .flex_mobile_column_reverse {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse !important;
        padding: 0 13px;
    }

    .chat_img_dev {
        bottom: unset;
    }

    /* } */

    .chat_avatar_area {
        padding-left: 0;
        padding-right: 0;
    }

    .main_content_inr_body_sp {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /*11111111 height: 100vh; */
    }

    .main_content_inr_child_box_sp {
        /*11111111 height: 100vh; */
        height: 100%;
    }

    .role_play_main_area_sp {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.25);
        height: 100%;
        /*1111111111 max-height: calc(100vh - 200px); */
        margin: 9px 1px;
        overflow: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .role_play_main_area_sp::-webkit-scrollbar {
        display: none;
    }

    .role_play_main_area_sp>div:first-child {
        display: flex;
    }

    .chat_img_container {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .chat_name_box_sp {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0px 0px 10px 10px;
        z-index: 1000;
        height: 24px;
        width: auto;
        /* font-family: 'Yu Gothic'; */
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333333;
        position: relative;
        top: 155px;
    }

    .down_arrow_icon {
        width: 10px;
        height: 10px;
    }

    .selected-box {
        background: var(--blue-light);
        border: 1px solid var(--blue-light);
    }

    .slide-vertical-enter {
        opacity: 0;
        transform: translateY(-20px);
    }

    .slide-vertical-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: all 300ms;
    }

    .slide-vertical-exit {
        opacity: 1;
        transform: translateY(0);
    }

    .slide-vertical-exit-active {
        opacity: 0;
        transition: all 300ms;
        transform: translateY(-20px);
    }

    .video_chat_input_btn_focus_sp {
        width: 84px;
        min-height: 30px;
        background: var(--blue-card);
        display: inline-block;
        color: var(--alice-blue);
        border-radius: 5px;
        text-align: center;
        border: 1px solid transparent;
        font-weight: bold;
        box-shadow: 2px 2px 7px #808080;
    }

    .inner_text_button_disable {
        color: #808080 !important;
        background: #D3D3D3 !important;
        border: #808080 !important;
        cursor: not-allowed !important;
    }

    .inner_text_button_first {
        width: 84px;
        text-align: center;
        min-height: 30px;
        border: 1.5px solid transparent;
        border-radius: 5px;
        background: white;
        box-shadow: 2px 2px 7px #808080;
    }

    @media screen and (max-width: 1024px) {
        .responsive_size {
            padding-left: 0 !important;
        }
    }

    @keyframes mic_blink {
        from {
            opacity: 1;
        }

        to {
            opacity: 0.1;
        }
    }

    /* .video_chat_input_area{
        position: unset;
    } */

    /* .video_chat_input_area_box_pad {
        display: flex;
        flex-direction: column;
        padding: 17px 13px ;
        width: 86.21px;
        margin-left: 9px;
    } */

    .video_chat_keyword_list_main_pad {
        max-height: 206px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: -10px -4px 0 -4px;
    }
}

/* --------------- landscape -------------- */


.role_play_main_area_landscape {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.25);
    display: flex;
    min-height: 19rem;
    padding: 9px;
}

.role_play_main_area_landscape>div:first-child {
    position: relative;
    width: 49%;
}

.subtitle_name {
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

.subtitle_name_context span {
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 34px;
    /* identical to box height */
    color: #333333;
}

.control_button_landscape {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.pdf_landscape {
    width: 51%;
    position: relative;
}

.flex_webcam {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.control_button {
    margin-left: 1px;
}

.chat_img_sec {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.vitual_chat_avatar_pad {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    background: #CCF1FC;
    border-radius: 5px;
}

.main_chat_people_pad {
    height: 80px;
    width: 80px;
    position: relative;
    background: var(--blue-light);
    max-width: inherit !important;
    top: 24px;
}

.chat_people_box_pad {
    background: #B4B4B4;
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 9px;
}

.main_chat_play_button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.main_chat_start_button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.inline_header {
    display: inline-block;
}

.time_text_box {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    margin-left: 20px;
    text-align: center;
    background: url('../../../../property/images/role-play-timer.svg') no-repeat left center;
    color: #808080;
    white-space: nowrap;
}

.video_chat_input_area_pad {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    height: 59px;
    /* margin-bottom: 13px; */
    margin-top: 9px;
    /* height: 100px;
        padding: 5px 50px; */
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.video_chat_input_button_pad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100% - -106.21px);
    height: 100%;
    position: relative;
}

.video_chat_input_button>span {
    position: absolute;
    top: 1px;
    right: 5px;
    height: 85px;
    width: 85px;
}

.video_chat_terminate_btn {
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-radius: 45px;
    color: #333;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    margin-left: 10px;
    padding: 0;
}

.video_chat_restart_btn {
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-radius: 45px;
    color: #333;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    margin-left: 10px;
    padding: 0;
}

.video_chat_terminate_btn {
    background: url('../../../../property/images/terminate-role-play.svg') #fff no-repeat;
    background-position: center;
    background-size: cover;
}

.video_chat_restart_btn {
    background: url('../../../../property/images/restart-role-play.svg') #fff no-repeat;
    background-position: center;
    background-size: cover;
}

.video_chat_terminate_btn_pad {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    color: #333;
    margin-left: 10px;
    padding: 0;
    background: url('../../../../property/images/video-chat-page-sp-suspend.png') no-repeat;
    background-position: -2px -2px;
    background-size: 126%;
    margin-top: 3px;
}

.video_chat_restart_btn_pad {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    color: #333;
    font-size: 14px;
    margin-left: 10px;
    padding: 0;
    background: url('../../../../property/images/video-chat-page-sp-restart.png') no-repeat;
    background-position: -2px -2px;
    background-size: 126%;
    margin-top: 3px;
}

.role-play-mic-active {
    cursor: pointer;
    animation-name: mic_blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.video_chat_input {
    width: 100%;
    height: 100%;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    display: block;
    padding: 8px;
    resize: none;
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 1 !important;
}

.video_chat_input:focus {
    border: 1px solid #00A5D9;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.8);
}

.video_chat_input_area_right {
    margin-left: 8px;
}

.video_chat_input_area_wave {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_chat_input_area_timer {
    width: 100%;
}

.video_chat_footer_buttons_pad {
    margin-top: 8px;
}

.video_chat_footer_buttons_pad .disableBtn {
    background: #D9D9D9 !important;
    border: 1px solid #CACACA !important;
    color: #9F9F9F !important;
    font-weight: 700 !important;
    box-shadow: none !important;
}

.video_chat_footer_buttons_pad button {
    height: 33px;
    padding: 0 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
.video_chat_footer_buttons_pad button:last-child {
    margin-left: 12px;
}

.video_chat_input_placeholder_false::placeholder {
    /* color: black; */
    font-size: 12px;
}

.video_chat_input_placeholder_true::placeholder {
    /* color: black; */
    font-size: 12px;
}

.start_text {
    background: var(--blue-card);
    padding: 8px 32px;
    color: var(--white);
    text-align: left;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
    font-weight: bold;
    z-index: 99;
}

.video_chat_input_area_recording {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.video_chat_input_area_recording>img {
    cursor: pointer;
}

.pointer_cursor {
    cursor: pointer;
}

.video_chat_btn_tips {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
    padding-top: 2px;
    padding-left: 9px;
}

.video_chat_btn_tips>div>p {
    margin-bottom: 0px !important;
    /* font-family: 'Yu Gothic'; */
    font-weight: 500;
    font-size: 21px;
    line-height: 34px;
    white-space: pre-wrap;
}

/* @media (max-width: 1100px) {
        .video-chat-btn-tips>div>p {
            font-size: 16px !important;
        }
        .video_chat_list_first_title {
            font-size: 12px;
            margin-bottom: 0 !important;
        }
    } */

/* @media (max-width: 2000px) {
        .video-chat-btn-tips>div>p {
            font-size: 21px;
        }
        .video_chat_list_first_title {
            font-size: 14px;
        }
    } */

.video-chat-btn-click-back {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.video_chat_list_first_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    padding: 9px 9px 0 14px;
    margin-bottom: 7px;
}

.video_chat_name_context {
    display: flex;
    justify-content: center;
}

.video_chat_name_context>div {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

.video_chat_name_context>div>label {
    /* font-family: 'Yu Gothic'; */
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #333333;
    text-align: center;
    margin-bottom: 0;
}

/* .video_chat_name_context > div > label:last-child {
            font-size: 20px;
            font-weight: 700;
            color: #333;
        } */

/* @media (max-width: 1100px){
        .video_chat_name_context > div > label:first-child {
            font-size: 12px;
            font-weight: 700;
            color: #333;
        }
        .video_chat_name_context > div > label:last-child {
            font-size: 14px;
            font-weight: 700;
            color: #333;
        }
    } */

/* .video_chat_keyword_list_main {
        padding-left: 30px;
    }

    .video_chat_keyword_list {
        position: absolute;
        width: calc(100% + 20px);
        left: -20px;
    } */
.video_chat_list_title {
    display: flex;
}

.video-chat-top-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px !important;
}

.video_chat_footer_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* margin: 0 2%; */
    padding-right: 9px;
}

.video_chat_footer_buttons_sp_left_landscape {
    width: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video_chat_footer_buttons_sp_left_button_disable_landscape {
    background: #D9D9D9 !important;
    border: 1px solid #C5C5C5 !important;
    font-weight: 700 !important;
    color: #9F9F9F !important;
    box-shadow: none !important;
}


.video_chat_footer_buttons_sp_left_landscape>button {
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    border-radius: 30px;
    padding: 0;
}

.video_chat_footer_buttons_sp_left_landscape>button:first-child {
    width: 52px;
    height: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #00A5D9;
    font-weight: 700;
    color: #fff;
}

.video_chat_footer_buttons_sp_left_landscape>button:last-child {
    font-weight: 700;
    width: 72px;
    height: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    color: #333333;
}

.video_chat_footer_buttons_sp_right_landscape {
    width: 80px;
}

.video_chat_footer_buttons_sp_right_landscape button {
    width: 100%;
    height: 36px;
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
    white-space: nowrap;
}

.video_chat_footer_buttons_sp_right_landscape .disable {
    background: #D9D9D9;
    border: 1px solid #C5C5C5;
}

.video_chat_footer_buttons_sp_right_landscape .single_button {
    background: #E78321;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.video_chat_footer_buttons_sp_right_landscape .multiple_button {
    background: #00A5D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .video_chat_footer_buttons>button {
    flex-grow: 0;
    filter: drop-shadow(4px 4px 7px #808080);
}

.video_chat_footer_buttons>span {
    flex-grow: 0;
    filter: drop-shadow(4px 4px 7px #808080);
} */

.start_role_play_btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0 16px;
}

.start-role-play-btn {
    background-color: #00A5D9;
    width: 190px;
    height: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    cursor: pointer;
}

.start-role-play-btn img {
    width: 14px;
    height: 23px;
    margin-bottom: 10px;
}

.start-role-play-btn span {
    /* font-family: 'Yu Gothic'; */
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
    margin-left: 13px;
}

.close_role_play_btn {
    background: linear-gradient(329.96deg, #C16500 3.39%, #FD9A36 70.53%, #FFE143 136.26%);
    height: 46px;
    width: 116.64px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 28px;
    filter: drop-shadow(4px 4px 7px #808080);
}

.close_role_play_btn>span {
    display: block;
    background: linear-gradient(168.13deg, #E97000 -33.04%, #FD9A36 118.86%);
    border-radius: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.close-role-play-btn:hover {
    opacity: 0.8;
}

.video_chat_next_section_btn {
    background: linear-gradient(329.96deg, #0081AA 3.39%, #00A5D9 70.53%, #3ACAF8 136.26%) !important;
    height: 46px;
    width: 116.64px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 28px;
    filter: drop-shadow(4px 4px 7px #808080);
}

.video_chat_next_section_btn>span {
    display: block;
    background: linear-gradient(168.13deg, #048AB5 -33.04%, #00A5D9 118.86%) !important;
    border-radius: 20px;
    /* font-family: 'Meiryo' !important; */
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 35px !important;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.video-chat-next-section-btn:hover {
    opacity: 0.8;
}

.chat_text_box_recording_pad {
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 100%;
    right: 12px;
    top: 8px;
}

.chat_text_box_recording_pad>button:last-child {
    margin-left: 10px;
}

/* dangerous and desprated */

.MuiIconButton-label>input {
    cursor: initial !important;
}

.role_play_top_tips {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 15px 15px 0;
}

.MuiIconButton-label {
    cursor: default !important;
}

/* @media (max-width: 991px){ */

.flex_mobile_column_reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
    padding: 0 13px;
}

.chat_img_dev {
    bottom: unset;
}

/* } */

.chat_avatar_area {
    padding-left: 0;
    padding-right: 0;
}

.role_play_main_area {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.25);
    height: 100%;
    margin: 9px;
}

.role_play_main_area>div:first-child {
    display: flex;
}

.chat_img_container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.chat_name_box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 5px 5px;
    color: #333;
    position: relative;
    top: 80px;
    z-index: 1000;
    height: 15px;
    width: auto;
    /* font-family: 'Yu Gothic'; */
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 14px;
    text-align: center;
}

.down_arrow_icon {
    width: 10px;
    height: 10px;
}

.selected-box {
    background: var(--blue-light);
    border: 1px solid var(--blue-light);
}

.slide-vertical-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.slide-vertical-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
}

.slide-vertical-exit {
    opacity: 1;
    transform: translateY(0);
}

.slide-vertical-exit-active {
    opacity: 0;
    transition: all 300ms;
    transform: translateY(-20px);
}

.video_chat_input_btn_focus_pad {
    width: 84px;
    min-height: 30px;
    background: var(--blue-card);
    display: inline-block;
    color: var(--alice-blue);
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    font-weight: bold;
    box-shadow: 2px 2px 7px #808080;
}

.inner_text_button_disable {
    color: #808080 !important;
    background: #D3D3D3 !important;
    border: #808080 !important;
    cursor: not-allowed !important;
}

.inner_text_button_first {
    width: 84px;
    text-align: center;
    min-height: 30px;
    border: 1.5px solid transparent;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 7px #808080;
}

@media screen and (max-width: 1024px) {
    .responsive_size {
        padding-left: 0 !important;
    }
}

@keyframes mic_blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

/* .video_chat_input_area{
        position: unset;
    } */

.video_chat_input_area_box_pad {
    display: flex;
    flex-direction: column;
    /* padding: 17px 13px ; */
    width: 86.21px;
    margin-right: 9px;
}

.video_chat_keyword_list_main_pad {
    height: 38vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 60px 0 0 0;
}

.video_chat_keyword_list_main_pad::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */

}

.video_chat_keyword_list_main_pad::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 10px;
}

.video_chat_keyword_list_main_pad::-webkit-scrollbar-thumb {
    background-color: #CAD8DF;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    Width: 8px;
    Height: 61px;
}

.control_button_landscape_pad {
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.role_play_mic_active_flicker_sp {
    animation-name: mic_blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.role_play_mic_pad,
.role_play_mic_active_pad {
    position: absolute ;
    background: url('../../../../property/icons/role-play-micphone-icon.png') no-repeat;
    background-size: 100%;
    height: 45px !important;
    width: 45px !important;
    border-radius: 45px;
    top:-3px;
}

.role_play_mic_active_flicker_sp {
    animation-name: mic_blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.close_role_play_btn_sp {
    background: linear-gradient(329.96deg, #C16500 3.39%, #FD9A36 70.53%, #FFE143 136.26%);
    height: 45px;
    width: 116.64px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 28px;
    filter: drop-shadow(4px 4px 7px #808080);
}

.close_role_play_btn_sp>span {
    display: block;
    background: linear-gradient(168.13deg, #E97000 -33.04%, #FD9A36 118.86%);
    border-radius: 20px;
    /* font-family: 'Meiryo'; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 35px !important;
    line-height: 39px !important;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.start_role_play_btn_box_display_none {
    display: none;
}

.video_chat_page_delete_pad_flex {
    width:8rem;
}

.video_chat_page_delete_pad_flex_once{
    margin-top: 0.2rem;
    margin-left: 0.1rem;
    width:3.7rem;
    height:3.7rem;
}

.video_chat_page_delete_pad_flex_once_sum{
    width:3.7rem;
    height:3.7rem;
}


.video_chat_page_delete_pad_flex_landscape {
    width:12.5vw;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.video_chat_page_delete_pad_flex_once_landscape {
    margin-top: 0.1rem;
    margin-left: 0.1vw;
    width:5vw;
    height:5vw;
}

.video_chat_page_delete_pad_flex_once_sum_landscape {
    width:5vw;
    height:5vw;
}

.video_chat_page_delete_pad_flex_once_submit{
    margin-left: 2px;
    margin-top: 5px;
    width: 100%;
}

.video_chat_next_section_btn_pad {
    background: linear-gradient(329.96deg, #0081AA 3.39%, #00A5D9 70.53%, #3ACAF8 136.26%) !important;
    height: 45px;
    width: 108.64px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 28px;
    filter: drop-shadow(4px 4px 7px #808080);
}

.video_chat_next_section_btn_pad>span {
    display: block;
    background: linear-gradient(168.13deg, #048AB5 -33.04%, #00A5D9 118.86%) !important;
    border-radius: 20px;
    /* font-family: 'Meiryo' !important; */
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    height: 35px !important;
    line-height: 39px !important;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.timer_pad {
    width: 100%;
    height: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.timer_pad>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    height: 100%;
    align-self: center;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #808080;
}
.restart-role-play-btn {
    background-color: #E78321;
    width: 190px;
    height: 47px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    cursor: pointer;
}
.restart-role-play-btn img{
    width: 14px;
    height: 23px;
    margin-bottom: 10px;
}
.restart-role-play-btn span{
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;

    color: #FFFFFF;
    margin-left: 13px;
}
.buttons-wrap {
    display: flex;
    justify-content: center;
}

.editing_area {
    margin-top: -8px;
}

.is_editing {
    font-size: 9px;
    white-space: nowrap;
}
