.theme_select_wrapper{
    /* border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 1rem; */
    margin-right: 1.5rem;
}
.theme_select_wrapper span{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 1rem;
}
.custom_select_box{
    width: 100%;
    min-width: 230px;
    height: 32px;
    background: #FAFAFA;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 5px;
    background: url('../../../../property/icons/dropdown_bg.jpg') no-repeat 100%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    padding : 4px 20px;
    background-size: 32px 32px;
    font-weight: normal !important;
}
.custom_select_box option{
    background-color: white;
}


/* /////////////////////////////// */
.select_box {
    position: relative;
    width: 231px;
}

.label_box{
    position: relative;
    width: 100%;
    font-size: 16;
    font-weight: bold;
    margin-bottom: 5px;
}

.tablet_view .label_box{
    font-size: 16px;
}

.select_box>div:first-child {
    width: 100%;
    /* padding: 9px 15px; */
    /* position: relative; */
    cursor: pointer;
    background: var(--white);
    border: 1px solid var(--granite);
    box-sizing: border-box;
    border-radius: 5px;

    display: grid;   
    grid-template-columns: auto 15%;
    height: 33px;
}
.select_box>div:first-child>span:first-child>span{
    padding: 5px 12px;
    display: block;
}
.select_box>div:first-child>span:last-child{
    background: #55A3D4;
    text-align: center;
    padding: 4px 5px;
    display: block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.select_box ul {
    background: var(--white);
    width: 100%;
    list-style: none;
    padding: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 3px 3px 9px 0px #888888;
    /* border: 1px solid var(--granite); */
}
.select_box ul.showbox {
    transition: all 0.2s ease-in-out;
    display: block;
}
.select_box ul.hidebox {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.select_box ul.over_height {
    max-height: 300px;
    overflow-y: scroll;
}
.select_box ul>li {
    padding: 8px 16px;
    cursor: pointer;
    min-height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid var(--granite); */
}
.select_box ul>li:last-child {
    border: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.select_box ul>li:last-child:hover {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.select_box ul>li:hover,
.select_box ul>li:focus {
    background-color: #E6E6E6;
}
.arrows {
    height: 8px;
}
.select_box_close_radius{
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border: 1px solid #00A5D9 !important;
}
.select_box_close_radius span:last-child{
    background: white !important;
    border-bottom-right-radius: 0px !important;
}

.select_span_wrapper{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}
.select_span_wrapper span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}
.placeholder_text{
    color: #808080;
}

.select_wrapper{
    display: flex;
    flex-direction: column;
}

.mobile_view{

}

.pc_view{

}

.select_wrappers{

}

.mobile_view.select_wrappers{
    flex-direction: column;
}

.mobile_view .select_box{
    width: 100%;

}

.mobile_view.select_wrappers .select_wrapper:first-child{
   margin-bottom: 15px;
}

.mobile_view.select_wrappers .select_box>div:first-child{
    grid-template-columns: auto 10%;
}

.tablet_view .select_wrapper{
    padding-left: 2px;
}
