.textarea_box {
    width: 100%;
    min-height: 135px;
    padding: 24px;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    resize: vertical;
}
.textarea_box>ul>li {
    line-height: 1.5;
}
.textarea_box>ul>li::before {
    top: 5px;
}