
.cmn_btn {
    width: 90px;
    min-height: 36px;
    background-color: var(--cerulean);
    padding: 5px;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid var(--cerulean);
    font-weight: bold;
    align-items: center;
}
.cmn_btn:disabled,
.cmn_btn[disabled]{
    border: 1px solid #999999;
    color: #666666; 
    background: var(--grey-goose);
}
.btn-white {
    background-color: var(--white);
    color: var(--cerulean);
    border: 1px solid #979797;
}