.talk_script_modal_body {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #F5F5F5;
  margin-top: 5px;
  /* margin-bottom: 25px; */
  display: flex;
}

.talk_script_button_gray {
  border-color: #D6D8D9 !important;
  color: #D6D8D9 !important;
  cursor: not-allowed;
}

.talk_script_button_box {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 7%;
  cursor: pointer;
}

.talk_script_button_r {
  border-left: 3px solid #00A5D9;
  border-top: 3px solid #00A5D9;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
}

.talk_script_button_l {
  border-left: 3px solid #00A5D9;
  border-top: 3px solid #00A5D9;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
}

.talk_script_content {
  flex-shrink: 1;
  flex-grow: 1;
  font-family: 'Yu Gothic';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 1% 0;
}

.talk_script_button_content {
  font-family: 'Yu Gothic';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  color: #808080;
  padding-top: 6px;
}