.mobile_app_bar,.tablet_app_bar {
    overflow: hidden;
    display: flex;
    flex-direction:row !important;
    align-items: center;
    justify-content: center;
}

.mobile_app_bar{
    height: 45px;
    box-sizing: border-box !important;
    width: 100vw !important;
}

.tablet_app_bar{
    height: 56px;
}

.mobile_app_bar_logo{
    width: 70px;
}

.tablet_app_bar_logo{
    width: 96px;
}

.mobile_app_bar_text{
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
    color: #333333;
    transform: scale(0.70);
    white-space: nowrap;
}

.tablet_app_bar_text{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #333333;
}

.mobile_app_bar_back{
    position:absolute;
    left: 12px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile_app_bar_menu{
    position:absolute;
    right: 14px;
    width: 38px;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
}
.tablet_app_bar_menu{
    position:absolute;
    right: 18px;
    width: 50px;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.exclamation{
    position: absolute;
    right: 35px;
    top: -5px;
    width: 30px;
}
.exclamationSp{
    position: absolute;
    right: 30px;
    top: 0;
    width: 25px;
}

.mobile_app_bar_img{
    width: 80%;
}

.tablet_app_bar_img{
    width: 80%;
}

.mobile_app_bar_menu_back{
    position:absolute;
    left: 12px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile_menu{
    position: relative;
    background: linear-gradient(180deg, #0080C3 0%, #03BBF0 100%);
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.mobile_menu_close_img{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 23px;
}

.mobile_menu_title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 65px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.mobile_menu .mobile_menu_list{
    padding: 0;
    font-style: normal;
    font-weight:900;
    font-size: 20px;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}


.mobile_menu_list_item{
    width: 100%;
    margin-left: 10%;
}



.exclamation_icon {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
}