.default_background{
    background-color: #FFFFFF !important;
}

.default_font_color{
    background-color: #FFFFFF !important;
}

.dark_background{
    background-color: #464444 !important;
}

.dark_font_color{
    background-color: #464444 !important;
}